.heading {
    text-align: center;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
}

@media only screen and (max-width: 1024px) {
    .cta {
        gap: 20px;
    }
}